<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org@1.9.12"></script>
    <title>Document</title>
</head>
<body>
    <button hx-post="/htmx-click" hx-swap="outerHTML">
        <% new Date().toLocaleString() %>
    </button>
</body>
</html>